* {
    background-color: #2b2b2b;
    font-family: 'Courier New', Courier, monospace;
    color: #eeeeee;
    text-align: center;
}

img {
    height: 450px;
    width: auto;
}

a {
    color: rgb(75, 75, 180);
}

h1 {
    font-size: 90px;
}

h2 {
    font-size: 40px;
}

.main-list {
    font-size: 50px;
    list-style: none;
    padding-left: 10px;
}

.ingredientsList {
    list-style: none;
}

.stepsList {
    list-style: none;
}