* {
    background-color: #2b2b2b;
    font-family: 'Courier New', Courier, monospace;
    color: #eeeeee;
    text-align: center;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 40px;
}

.main-list {
    font-size: 50px;
    list-style-position: inside;
    
}

.ingredientsList {
    list-style: none;
}

.stepsList {
    list-style: none;
}